@import url('https://css.gg/edit-contrast.css');
@import url(./style.css);

.fa {
    font-size: 180% !important;
}

.fa:hover {
    color: var(--text-dark);
    opacity: 0.5;
}

.fa-twitter {
    color: var(--text-dark);
}

.fa-facebook {
    color: var(--text-dark);
}

.fa-linkedin {
    color: var(--text-dark);
}

.fa-github {
    color: var(--text-dark);
}

.myIcon li {
    display: block;
    margin: 30px;
}

#toggleBtn {
    margin-top: 2%;
    color: var(--text-dark);
}
.icon-arrow {
    margin-top: 32px;
    fill: var(--text-dark);
    transform: scale(1.8);
    margin-left: -8%;
}

