@import url('https://css.gg/edit-contrast.css');
@import url(./style.css);

.fa {
    font-size: 180% !important;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    color: var(--text-dark);
}

.fa-facebook {
    color: var(--text-dark);
}

.fa-linkedin {
    color: var(--text-dark);
}

.fa-github {
    color: var(--text-dark);
    ;
}

.myIcon li {
    display: block;
    margin: 30px;
}

#toggleBtn {
    margin-top: 2%;
    color: var(--text-dark);
}