@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    /* cores de texto */
    --text-white: #ffffff;
    --text-dark: #142136;

    /* cores de fundo */
    --bg-grey-light: #f0f1f4;
    --bg-white: white;
    --bg-blue-dark: #142136;
    --bg-indigo: #3b3b3c;
    --bg-btn: rgb(237, 241, 236);
    --bg-input:rgb(180, 183, 184);

    font-family: "Inter", sans-serif;
    line-height: 1.7;
    background-color: var(--bg-grey-light) ;
}

.darkmode {
    --text-white: #e6e6e6;
    --text-dark: #b4abab;
    --bg-grey-light: #142136;
    --bg-white: #cfd9e2;
    --bg-blue-dark: #b4abab;
    --bg-indigo: #142136;
    --bg-btn: rgb(117, 149, 159);
    --bg-input:rgb(119, 131, 136);
    /* background-color: var(--bg-grey-light) !important; */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

header .logo {
    color: var(--text-dark);
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;

}

header .logo:hover {
    transform: scale(1.25);
    color: var(--text-dark);
}


header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: var(--text-dark);
    text-decoration: none;
}

header ul li a:hover {
    transform: scale(1.25);
    color: var(--text-dark);
    border-bottom: 2px solid var(--text-dark);
}

#toggleBtn {
    margin-left: 25px;
}

.btn {
    /* background-color: var(--bg-blue-dark); */
    color: var(--text-dark);
    border: 2px solid var(--text-dark);
    width: 40%;
    height: 45px;
    /* cursor: pointer; */
}

.aboutBtn {
    display: inline-flex;
    height: 50px;
    width: 180px;
    border: 2px solid var(--text-dark);
    margin: 20px 20px 20px 0px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.aboutBtn a {
    color: var(--text-dark);
    text-decoration: none;
    letter-spacing: 1px;
}

#myBtn {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#myBtn a {
    /* position: relative;
    left: 0;
    transition: all .35s ease-Out; */
}

#dub-arrow {
    width: 100%;
    height: 100%;
    background: var(--bg-grey-light);
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
}

#myBtn img {
    width: 20px;
    height: auto;
}

#myBtn:hover #dub-arrow {
    left: 0;
}

#dub-arrow:hover {
    /* left: 150px; */
    background-color: var(--bg-btn);
    background: linear-gradient(to right, var(--text-dark),var(--bg-btn));
}

#groupBtn:hover .icon-arrow {
    margin-left: -6%;

}

/* Creating Stiky Header Menu Nav Bar */
header.sticky {
    background: var(--bg-grey-light);
    padding: 20px 100px;
    box-shadow: 0 5px 20px var(--bg-white);
}

header.sticky .logo {
    color: var(--text-dark);
}

header.sticky ul li a {
    color: var(--text-dark);
}

/* Creating Services Layout */
section {
    padding: 80px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: right;
    /* display: block; the reason sticky header doesn't work on this section*/
    margin-top: 10%;

    justify-content: space-between;
    align-items: center;
    align-items: center;
    background-color: var(--bg-grey-light);
}

.banner h2 {
    font-size: 4.5em;
    font-family: 'Times New Roman', Times, serif;
    color: var(--text-dark);
    font-weight: 300;
    line-height: 1.5em;
}

.banner h2 span {
    font-size: 1.2em;
    font-weight: 300;
    color: var(--text-dark);
}

.banner h3 {
    color: var(--text-dark);
    font-size: 1.5em;
    font-weight: 500;
}

.btn {
    font-size: 16px;
    position: relative;
    display: inline-block;
    color: var(--bg-grey-light);
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

/* Creating About Layout */
.content {
    display: flex;
    justify-content: space-between;

}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    /* color: #111; */
}

.heading p {
    font-style: italic;
    font-size: 14px;
}

.heading h2 {
    font-size: 3em;
    color: var(--text-dark)
}

.contentBx {
    padding-left: 40px;
    text-align: justify;
}

.contentBx h2 {
    font-weight: 300;
    margin-bottom: 10px;
}

.proPic {
    width: 300px;
    height: 350px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.heading.bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.btn.round {
    background-color: var(--bg-grey-light);
    color: var(--text-dark);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.bt {
    margin-top: 20px;
    ;
}

.w50 {
    min-width: 25%;
}

img {
    max-width: 100%;
}

/* Creating Contact Details Layout in CSS */

.formBx form input,
.formBx form textarea {
    border: 1px solid var(--bg-grey-light);
    margin-bottom: 20px;
    padding: 15px;
    font-size: 12px;
    background: transparent;
    width: 80%;
    background: var(--bg-input);
    resize: vertical;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
    color: var(--text-dark);
}

.formBx form input[type="submit"] {
    /* background: white; */
    color: var(--text-dark);
    /* max-width:250px; */
    width: 80%;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}


.contactInfoBx {
    position: relative;
}

.contactInfoBx .box {
    position: relative;
    padding: 5px 0;
    display: flex;
}

.contactInfoBx .box .icon {
    color: var(--text-dark);
    min-width: 40px;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfoBx .box .text {
    color: var(--text-dark);
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3 {
    font-weight: 500;
    color: var(--text-dark);
    margin-bottom: 0;
}

.contactInfoBx .box .text p {
    font-weight: 300;
    color: var(--text-dark);
}

footer.copyright {
    background: var(--bg-indigo);
    color: var(--text-dark);
    text-align: center;
    padding: 10px;
}

footer.copyright a {
    text-decoration: none;
    color: var(--text-dark);
}

@media (max-width: 600px) {

    header,
    header.sticky {
        padding: 20px 50px;
        z-index: 2;
    }

    header .menu {
        display: none;
        z-index: 1;
    }

    header #toggleBtn {
        display: none;
    }

    header .menu.active {
        position: fixed;
        top: 75px;
        left: 0;
        padding: 100px 50px;
        display: block;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: var(--bg-white);
    }

    section.active {
        display: none;
    }

    .menu a {
        font-size: 20px;
        font-weight: 400;
        color: var(--text-dark);
        margin: 10px 0;
    }

    .toggle {
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .toggle.active {
        width: 40px;
        height: 40px;
        background: url(images/close.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    header.sticky .toggle {
        filter: invert(1);
        -webkit-filter: invert(1);
    }

    section {
        padding: 100px 30px;
    }

    .banner {
        padding: 150px 50px 100px;
    }

    .banner h2 {
        font-size: 1.5em;
    }

    .banner h3 {
        font-size: 1em;
        ;
    }

    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }

    .content {
        flex-direction: column;
    }

    .contentBx {
        padding: 0;
    }

    .content .w50 img {
        display: block;
        margin: 0 auto 30px auto;
    }

    .heading h2 {
        font-size: 24px;
    }

    .contentBx h3 {
        font-size: 20px;
    }

    .contentBx h2 {
        font-size: 20px;
        font-weight: 300;
    }

    .heading.bottom  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .workBtn {
        display: none;
    }

}

#groupBtn {
    display: inline-flex;
}

.works {
    /* margin-bottom: -60%; */
    color: var(--text-dark);
}

.workBtn {
    position: absolute;
    text-decoration: none;
    /* color: var(--text-dark); */
    left: 50%;
    bottom: 18%;
    /* transition: opacity .35s ease .7s; */
}
.workBtn:hover {
    bottom: 21%;
}
